html {
    margin: 0;
    padding: 0;
}
  
body, .container {
    width: 100vw;
    height: 100vh;
    padding: inherit;
    margin: inherit;
}
  
header {
    position: relative;
    width: inherit;
    height: 80px;
    margin: 0;
    padding: 0;
    top: 0;
}

nav {
    position: fixed;
    top: inherit;
    width: inherit;
    height: inherit;
    background-color: #782f40;
}

nav .menu {
    position: relative;
    top: .7em;
}

nav ul {
    list-style: none;
    text-align: right;
    padding-right: 1.5em;
}
  
nav ul li {
    display: inline-block;
    padding: .25em 1em;
}

nav ul li a {
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    outline: none;
    text-decoration: none;
}

a:link,
a:visited {
    color: #e4e4e4;
}

a:hover,
a:active,
a.current {
    border-bottom: 1px solid #e4e4e4;
}

.logo,
.fsu,
.fsu-hide {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

.logo {
    top: .2em;
    left: 2%;
}

.fsu {
    top: 1.2em;
    left: 3%;
    transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
}

.fsu-hide {
    top: 1.2em;
    left: 3%;
    opacity: 0;
    transition: transform .4s ease-in-out 0s,opacity .4s ease-in-out 0s;
    transform: translateX(-50px);
}

.hero {
    position: inherit;
    background-color: #e4e4e4;
    width: inherit;
    height: inherit;
}

.to-content {
    position: absolute;
    display: inline-block;
    right: 50%;
    bottom: 12px;
    cursor: pointer;
}

i
{
    display: inherit;
    border: solid #782f40;
    border-width: 0 .2em .2em 0;
    padding: .6em;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.content {
    background-color: #782f40;
    width: inherit;
    height: inherit;
}
  
@media(max-width: 1100px) {

    .menu {
        display: none;
    }

    .menu-icon {
        display: block;
        position: absolute;
        float: right;
        top: 2em;
        right: 2%;
        width: 3.5em;
        height: 3.5em;
    }

    #b1, #b2, #b3 {
        background-color: #e4e4e4;
        position: relative;
        width: 1.6em;
        height: .2em;
        margin: .35em;
    }

    
}