
body {
    margin: inherit;
}

.container {
    margin: 80px 0 0 0;
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    background: #782f40;
    display: grid;
    z-index: 20;
}

a {
    outline: none;
    text-decoration: none;
}

nav {
    box-shadow: 0 6px 8px 0 rgba(32,33,36,0.28);
    height: inherit
}

nav .menu {
    position: relative;
    top: .4em;
}

nav ul {
    list-style: none;
    text-align: right;
    padding-right: 1.5em;
}
  
nav ul li {
    display: inline-block;
    padding: .25em .8em;
}

nav ul li a,
.dropdown#hover,
.dropdown#mobile {
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

nav ul li a:link,
nav ul li a:visited,
.dropdown#hover,
.dropdown#mobile {
    color: #e4e4e4;
}

nav ul li a:hover,
nav ul li a:active,
nav ul li a.current {
    border-bottom: 1px solid #e4e4e4;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
}

.dropdown#mobile {
    display: none;
}

.dropdown#li {
    display: block;
    transition-duration: 0.5s;
    font-size: .6em;
    padding: .4em 1.9em;
    text-align: center;
    clear: both;
    cursor: default;
  }

.dropdown#hover {
    cursor: pointer;
  }

.dropdown#hover:hover {
    padding-bottom: .86em;
  }

.menu ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all .2s ease-in .1s;
    padding: 0 0 .7em;
    border-radius: 1px 1px 18px 18px;
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
  }

.menu ul li:hover > ul,
.menu ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    transition: all .2s ease-out .1s;
    background: #782f40e6;
    margin-top: 1.3em;
  }

  
.logo,
.fsu,
.fsu_hide {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

.logo {
    top: .2em;
    left: 2%;
}

.fsu {
    top: 1.1em;
    left: 3%;
    transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
    opacity: 1;
}

.fsu_hide {
    top: 1.1em;
    left: 3%;
    opacity: 0;
    transition: transform .4s ease-in-out 0s,opacity .4s ease-in-out 0s;
    transform: translateX(-50px);
}

.hero {
    background-color: #e4e4e4;
}

.caro_wrapper {
    position: relative;
    height: 400px;
}

.caro_arrows .prev,
.caro_arrows .next {
    position: absolute;
    top: 50%;
    border: solid #000000;
    border-width: 0 .2em .2em 0;
    padding: .6em;
    cursor: pointer;
}

.caro_arrows .prev {
    transform: rotate(135deg);
    left: 40px;
}

.caro_arrows .next {
    transform: rotate(-45deg);
    right: 40px;
}

.caro_arrows .prev::before,
.caro_arrows .next::before {
    content: "";
}

.caro_btns {
    position: absolute;
    bottom: 50px;
    left: 49%;
}

.caro_btns a {
    display: inline-block;
    background-color:rgba(255,255,255,0.5);
    border-radius: 7px;
    height: 7px;
    width: 7px;
    margin: 1px;
}

.to_content {
    position: absolute;
    display: inline-block;
    right: 49%;
    bottom: 16px;
    cursor: pointer;
    z-index: 8;
}

.to_content i
{
    display: inherit;
    border: solid #782f40;
    border-width: 0 .2em .2em 0;
    padding: .8em;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.content {
    background-color: #782f40;
    display: flex;
    justify-content: center;
}

.info_wrapper {
    display: flex;
    width: 80vw;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 10% 0 auto;
    padding: 3% 0 3%;
    border-top: 1px solid #f3ede1;
    border-bottom: 1px solid #f3ede1;
    text-align: center;
    color: #e4e4e4;
}

.info_wrapper span {
    flex-basis: 23%;
}

.info_wrapper h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
}

.info_wrapper p {
    font-family: 'Hind', sans-serif;
    font-size: 1.1em;
    line-height: 1.6em;
    padding-top: .5em;
}

table {
    margin-top: 1em;
}

th {
    font-size: small;
    text-align: right;
}

td {
    font-size: small;
    text-align: left;
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 75, 72);
    width: 100vw;
    height: 100px;
    margin: 0;
    padding: 0;
}

footer i {
    color: #e4e4e4;
    font-size: 2.1em;
    margin: .2em;
}

footer h3 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: .8em;
    color: #e4e4e4;
    white-space: nowrap;
    margin: .5em 0 0 0;
}

footer a i:hover {
    color: #974C5D;
}

@media(max-width: 1100px) {

    .fsu, .fsu_hide {
        display: none;
    }

    .menu {
        display: none;
        transition: height 100ms ease-out;
    }

    .menu_show {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #782f40;
        min-width: 100vw;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        z-index: 10;
        transition: max-height 200ms ease-in;
    }

    .menu_show ul {
        display: flex;
        position: relative;
        text-align: center;
        z-index: 11;
        padding: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        top: -30px;
        transition: transform .2s ease-in;
    }

    .menu_show li {
        display: block;
        line-height: 5em;
        font-size: 1.3em;
        z-index: inherit;
    }

    .menu_show p {
        font-size: 1.3em;
        line-height: unset;
        display: inline;
    }

    .dropdown#hover {
        display: none;
    }

    .dropdown#mobile {
        display: unset;
    }
    
    .dropdown#mobile input[type="checkbox"] {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        box-sizing: border-box;
        left: 0;
    }

    .dropdown#mobile input[type="checkbox"]:checked ~ #ul {
        margin: 0;
        max-height: 0;
        opacity: 0;
        transform: translate(0, 50%);
        transition: opacity .35s linear .5ms;
    }

    .dropdown#mobile #ul {
        opacity: 1;
        transform: translate(0, 0);
        transition: transform .5s ease-out, opacity .4s linear .1s;
        margin-bottom: -2em;
    }

    .menu_icon {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 3%;
        top: 1.5em;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        padding: 1.2em 1.5em 2em 0;
    }

    .inner,
    .inner::before,
    .inner::after {
        display: block;
        position: relative;
        width: 3em;
        height: .3em;
        background-color: #e4e4e4;
        border-radius: .5em;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    .inner {
        transition-duration: 0.22s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .inner::before {
        content: "";
        transition: top 0.1s 0.25s ease-in,
            opacity 0.1s ease-in;
        top: -.8em;
    }

    .inner::after {
        content: "";
        transition: bottom 0.1s 0.25s ease-in,
            transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        bottom: -.5em;
    }

    .inner_active,
    .inner_active::before,
    .inner_active::after {
        display: block;
        position: relative;
        background-color: #e4e4e4;
        margin-top: -.25em;
        width: 3em;
        height: .3em;
        border-radius: .5em;
    }

    .inner_active {
        top: .2em;
        transform: rotate(225deg);
        transition-delay: 0.1s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .inner_active::before {
        content: "";
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out,
                    opacity 0.1s 0.12s ease-out;
    }

    .inner_active::after {
        content: "";
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out,
                    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .profile_wrapper > .header {
        margin: 2em;
    }

    .profile {
        margin-top: 2em;
    }

    .top_row, 
    .middle_row,
    .bottom_row {
        flex-direction: column;
        margin-top: 0;
    }
    

    .info_wrapper {
        flex-direction: column;
        flex-basis: 60%;
    }

    .info_wrapper span {
        margin: 4%;
    }

}